/* Estilos del título */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin: 45px;
}

/* Estilos del form */
form {
    max-width: 400px;
    margin: 25px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 21px;
}

input, select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 25px; 
    border-radius: 5px;
    border: 1.5px solid #ccc;
    box-sizing: border-box;
    font-size: 21px;
    background-color: #f0f8fc;
    color: #333;
}

input::placeholder, select::placeholder{
    color: gray;
    font-style: italic;
    font-size: 18px;
}

select:hover, select:focus, input:focus {
    border-color: #2197a3; 
    outline: none; 
}

small.form-text {
    display: block;
    margin-bottom: 10px;
    color: #777;
    font-size: 15px;
}

/* Estilos del botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #2197a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px; 
}

button:hover {
    background-color: #45a049;
}

/* Estilos para los menu desplegables */
.form-tipos {
    display: flex;
    flex-direction: column;
}

.form-tipos label {
    margin-bottom: 8px; 
}

.swal2-confirm.btn-confirm {
    background-color: #2197a3; 
    color: white; 
    font-size: 20px; 
}