h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin: 45px;
}

form {
    max-width: 400px;
    margin: 45px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 19px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 19px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00ce99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

small.form-text {
    display: block;
    margin-bottom: 10px;
    color: #777;
    font-size: 0.875em;
}
