body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: Rubik;
    height: 100%;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login h1 {
    padding-bottom: 10px;
    color: #303030;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

form .user-email, .user-password {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.user-email input, .user-password input {
    border-radius: 5px;
    border: 1px solid rgb(141, 141, 141);
    height: 18px;
}

.user-email label, .user-password label {
    color: rgb(66, 66, 66);
}

.iniciar-sesion {
    margin: 10px 70px 10px 70px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(155, 155, 155);
    font-family: Rubik;
    font-size: 17px;
    color: rgb(66, 66, 66);
}

.iniciar-sesion:hover {
    background-color: rgb(196, 196, 196);
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.recover-user {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 15px;
}

.create-user {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 15px;
}

