body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos de header */
header {
    display: flex;
    position: relative; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2197a3; 
    color: white;
}

/* Estilos de botones */
.menu, .usuario {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.menu:hover, .usuario:hover {
    color: #ddd;
}

/* Estilos del menú de hamburguesa */
.menu-hamburguesa {
    display: none;
    position: fixed;
    top: 45px;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #2197a3; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1000;
}

.menu-hamburguesa a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu-hamburguesa a:hover {
    background-color: #1b7d88; 
}

/* Estilos del menú de usuario */
.menu-usuario {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2197a3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1000;
    margin-top: 5px;
}

.menu-usuario a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu-usuario a:hover {
    background-color: #1b7d88; 
}

/* Estilos del contenedor de datos */
.contenedor-datos {
    width: 76%;
    height: 74vh;
    margin: 20px auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 1;
    margin-left: 20%;
}

/* Otros estilos */
.lista-datos {
    list-style-type: none;
    padding: 0;
}

.lista-datos li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Clases para ocultar y mostrar */
.oculto {
    display: none;
}

.mostrar {
    display: block;
}

/* Filtros */
.filtros {
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 20%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.ordenar-menu, .filtrar-menu {
    position: relative;
}

.ordenar-menu-oculto, .filtrar-menu-oculto {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2197a3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1000;
}

.ordenar-menu-oculto a, .filtrar-menu-oculto a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.ordenar-menu-oculto a:hover, .filtrar-menu-oculto a:hover {
    background-color: #1b7d88; 
}
