/* ESTILOS GENERALES ---------------------------------------------------------- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}


.tabs {
    max-width: 75%;
    margin: 40px auto;
    margin-bottom: -9px;
    border-radius: 10px 0px 0px 0px;
    margin-right: 155px;
}

.tabs a{
    text-decoration: none;
    font-size: 18px;
}

.tabActivo {
    color: white;
    background-color: #2197a3;
    padding: 10px;
    padding-left: 11px;
    border-radius: 10px 10px 0 0;
}

.tabDesactivado {
    background-color: #d0d2d5;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: #686262;
}

h2, h3 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

label {
    font-weight: 600;
    color: #555;
    font-size: 17px;
    margin-bottom: 5px;
}

.perfil input, 
.perfil select {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.perfil input:hover,
.perfil select:hover {
    border-color: #275f65;
}

.perfil input:focus,
.perfil select:focus {
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

/* secciones de info personal y vehículos -------------------------------------*/
.perfil .info-personal,
.perfil .vehiculos-asegurados {
    margin-bottom: 25px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    margin-bottom: 30px;
}

.info-grid .colum1, 
.info-grid .colum2 {
    display: flex;
    flex-direction: column;
}

/* inputs de los campos -------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: black;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

input:focus, 
select:focus {
    border-color: #2197a3;
    outline: none;
}

.logos,
.material-symbols-outlined {
    text-align: center;
    color: #2197a3;    
    font-size: 50px !important;
}

.material-symbols-outlined {
    border-radius: 50%;
    border: 4px solid #2197a3;   
    padding: 5px; 
}

.configBotones{
    line-height: 0;
}

.material-symbols-outlined.botones {
    color: white;    
    font-size: 19px !important;
    border: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;     
    margin-right: 8px;
}

.material-symbols-outlined.opciones {
    color: rgb(0, 0, 0) !important;    
    font-size: 19px !important;
    border: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;     
    margin-right: 8px;
    margin-left: 8px;
}

.material-symbols-outlined.headIcon{
    color: white;    
    font-size: 40px !important;
    border: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;     
    margin-left: -13px;
}

/* sección de vehículos -------------------------------------------------------*/
.perfil .vehiculo {
    background-color: #f7f9fc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid #2197a3;
}

.perfil .vehiculo h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.perfil .vehiculo label {
    margin-top: 10px;
    font-size: 17px;
    color: #444;
}

.vehiculo .ver-fotos {
    width: 20%;
    font-size: 17px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #2197a3;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

input[type="file"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline-start: 1px;
    padding: 11px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #333;
    width: 95%; 
}

input[type="file"]::-webkit-file-upload-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2197a3;
    color: white;
    border: none;
    border-radius: 3px;
    border: 1px solid #275f65;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #275f65;
}

input[type="date" i] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline-start: 1px;
    cursor: default;
    padding: 9px;
    overflow: hidden;
    font-size: 17px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.helper-text {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
    display: block;
}

select option:disabled {
    color: #999;
    background-color: #f2f2f2;
    font-style: italic;
}

/* botones de guardar y editar ------------------------------------------------*/
.desactivado,
.activo {
    display: inline-block;
    padding: 12px 30px;
    background-color: #2197a3;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.poliza{
    text-decoration: none;
}

.desactivado {
    background-color: #6c757d; 
    cursor: default;
}

.activo:hover {
    background-color: #275f65;
}

.desactivado.editar-modo {
    background-color: #2197a3; 
    cursor: pointer;
}

.cancelar {
    background-color: red;
}

.cancelar:hover {
    background-color: darkred;
}

.oculto {
    display: none;
}

.eliminar-vehiculo {
    margin-bottom: 30px;
    background-color: red;
    margin-left: 84%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.eliminar-vehiculo:hover {
    background-color: darkred;
}

.peligro {
    background-color: red;
}

.peligro:hover {
    background-color: darkred;
}

/* tabla en el formulario de creación de usuario ------------------------------ */
.form-crear-usuario table {
    width: 100%;
    border-collapse: collapse;
}

.form-crear-usuario .label-column {
    width: 20%; 
    padding: 12px;
    text-align: left;
    vertical-align: top; 
}

.form-crear-usuario .input-column {
    width: 70%;
    padding-right: 25px;
}

.form-crear-usuario .input-column input,
.form-crear-usuario .input-column select {
    width: 70%; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: black;
    transition: border-color 0.3s ease;
    margin-right: 21px;
}

.form-crear-usuario .input-column input:focus,
.form-crear-usuario .input-column select:focus {
    border-color: #2197a3;
    outline: none;
}

.form-crear-usuario .input-column button {
    margin-top: 8px; 
}

#crear-usuario {
    margin-top: 20px; 
    text-align: center;
    left: 0;
}
