/* CABECERA -------------------------------------------------------------------*/
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Estilos del logo ------------------- */
header .logo img{
    width: 65%;
    height: auto;
}

header .logo {
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
}

/* Estilos del menu inactivo ---------- */
header .menu {
    display: none; 
}

header .icono-menu {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    position: fixed; 
    top: 38px; 
    right: 20px; 
    z-index: 1100;
}

.icono-menu i {
    color: #2197a3; 
}

header .menu.activo {
    display: block; 
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos del menú activo ------------ */
header .menu.activo {
    display: block;
    position: fixed;
    top: 0; 
    right: 0; 
    width: 70%; 
    height: 100%; 
    background-color: white; 
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

header .menu ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
    margin-top: 30px
}

header .menu li {
    margin-bottom: 15px; 
    border-bottom: 2px solid #2197a3;
}

header .menu a {
    text-decoration: none; 
    color: #333333; 
    font-size: 18px; 
    display: block; 
    padding: 10px; 
}

header .menu a.importante {
    font-weight: bold;
    color: #2197a3;
}

header .menu a.inicio {
    /* font-weight: bold; */
    color: white;
    background-color: #2197a3;
    text-align: center;
    border-radius: 5px;
}

header .menu li.inicio{
    border-bottom: 0px;
    /* display: flex; */
}

/* CUERPO --------------------------------------------------------------------- */
body{
    background-color: white;
    margin: 0 auto;
    margin-top: 35%;
    font-family: "Urbanist", sans-serif;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

/* Estilos formulario ----------------- */
.form {
    display: flex;
    margin: 45px;
    text-align: center;
    padding: 10px;
    flex-direction: column; 
    align-items: center;
}

.form .form-boton-cotizar {
    background-color: #2197a3;
    border-radius: 10px;
    padding: 12px;
    width: 35%;
    font-weight: bold;
}

.form .form-boton-cotizar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Estilo del carrusel ---------------- */
.swiper-container {
    --swiper-navigation-size: 16px; 
    --swiper-navigation-sides-offset: -31px;
    --swiper-pagination-bottom: auto;
    --swiper-pagination-top: 105%;
}

.swiper-container {
    width: 84%;
    height: auto; 
    max-width: 600px;
    margin: 20px auto;
    display: flex;
}

.swiper-container .swiper-wrapper .swiper-slide {
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease-in-out;
}

.swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease;
}

.swiper-container .swiper-wrapper .swiper-slide-active img {
    filter: grayscale(0%); 
}

.swiper-container .swiper-pagination {
    text-align: center;
}

.swiper-pagination-bullets {
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    background: rgba(0,0,0,0.5); 
    width: 10px; 
    height: 10px; 
    margin: 0 20px; 
    opacity: 0.7; 
    transition: opacity 0.3s;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #2197a3; 
    opacity: 1; 
}

.swiper-container .swiper-button-prev { 
    right: 120%;
    color: black;
    width: 30px;
    top: 50%; 
}

.swiper-container .swiper-button-next {
    left: 100%;
    color: black;
    width: 30px; 
    top: 50%; 
}

/* Estilo coberturas ------------------ */
.coberturas {
    display: flex;
    margin: 45px;
    text-align: center;
    padding: 10px;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.coberturas .tipo {
    background-color: #2197a3;
    border-radius: 20px;
    padding: 15px 30px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0; 
    width: 200px;
}


.coberturas .tipo a{
    text-decoration: none;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.coberturas .tipo a i{
    color: white;
    font-size: 80px;
}

.coberturas .tipo h3{
    font-size: 22px;
    color: white;
    margin: 0;
    padding: 0;
}

.coberturas .tipo:hover {
    background-color: #1e8691;
}

.coberturas .tipo a:hover i {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
