<html>
    <body>

        <div class="menu-usuario"></div>
            <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar sesión</a>
        </div>

        Nombre: <%= solicitud.nombre %>
    </body>
</html>