<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Usuario</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel.css">
    <link rel="stylesheet" href="/public/css/perfil_usuario.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- Fuentes y Material Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <button class="menu configBotones"><span class="material-symbols-outlined headIcon">menu</span></button>
        <button class="usuario configBotones"><span class="material-symbols-outlined headIcon">account_circle</span>Tú</button>
        
        <div class="menu-hamburguesa">
            <a href="/panel" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">format_list_bulleted</span>Clientes</a>
            <a href="/solicitudes" data-content="Solicitudes" class="configBotones"><span class="material-symbols-outlined botones">visibility</span>Solicitudes</a>
            <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">upgrade</span>Cargar cliente</a>
            <a href="" data-content="addUsuario" id="cargar-usuario" class="configBotones"><span class="material-symbols-outlined botones">add</span>Crear usuario</a>
            <a href="" data-content="addCobertura" id="cargar-coberturas" class="configBotones"><span class="material-symbols-outlined botones">open_run</span>Coberturas</a>
        </div>
        
        <div class="menu-usuario">
            <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar sesión</a>
        </div>
    </header>

    <div class="contenedor-datos">
        <!-- Sección de información personal -->
        <div class="info-personal">
            <div class="logos"><span class="material-symbols-outlined">person</span></div>
            <h2>Ingresar Información Personal</h2>
            <div class="info-grid">
                <div class="colum1">
                    <label for="nombre">Nombre </label>
                    <small class="helper-text">Ingrese el/los nombres</small>
                    <input type="text" id="nombre">
    
                    <label for="apellido">Apellido </label>
                    <small class="helper-text">Ingresar el/los apellidos</small>
                    <input type="text" id="apellido">
    
                    <label for="dni">DNI </label>
                    <small class="helper-text">Ingrese solo números, sin puntos ni guiones</small>
                    <input type="number" id="dni">
    
                    <label for="email">Email </label>
                    <small class="helper-text">Ingrese un correo electrónico válido</small>
                    <input type="email" id="email">
                </div>
                <div class="colum2">
                    <label for="direccion">Dirección </label>
                    <small class="helper-text">Ingrese la dirección completa, incluyendo calle y número</small>
                    <input type="text" id="direccion">
    
                    <label for="celular">Celular </label>
                    <small class="helper-text">Ingrese número de celular con código de área sin el 0 ni el 15</small>
                    <input type="text" id="celular">
    
                    <label for="ciudad">Ciudad </label>
                    <small class="helper-text">Ingrese la ciudad donde reside</small>
                    <input type="text" id="ciudad">
    
                    <label for="provincia">Provincia </label>
                    <small class="helper-text">Ingrese la provincia donde reside</small>
                    <input type="text" id="provincia">
                </div>
            </div>
        </div>
    
        <!-- Sección de vehículos asegurados -->
        <div class="vehiculos-asegurados">
            <div class="logos"><span class="material-symbols-outlined">directions_car</span></div>
            <h2>Ingresar el vehículo asegurado</h2>
    
            <div id="vehiculos-container">
                <div class="vehiculo">
                    <div class="info-grid">
                        <div class="colum1">
                            <label for="tipo_vehiculo">Tipo de Vehículo </label>
                            <small class="helper-text">Seleccione el tipo de vehículo a asegurar</small>
                            <select id="tipo_vehiculo">
                                <option value="" disabled selected>Seleccione un tipo de vehículo</option>
                                <option value="auto">Auto</option>
                                <option value="moto">Moto</option>
                            </select>
    
                            <label for="patente">Patente </label>
                            <small class="helper-text">Ingrese la patente del vehículo sin espacios ni guiones</small>
                            <input type="text" id="patente">
    
                            <label for="anio_vehiculo">Año </label>
                            <small class="helper-text">Ingrese el año de fabricación del vehículo</small>
                            <input type="number" id="anio">
    
                            <label for="vigencia_desde">Vigencia Desde </label>
                            <small class="helper-text">Seleccione la fecha desde que empieza la vigencia del seguro</small>
                            <input type="date" id="vigencia_desde">
    
                            <label for="vigencia_hasta">Vigencia Hasta </label>
                            <small class="helper-text">Seleccione la fecha hasta que termina la vigencia del seguro</small>
                            <input type="date" id="vigencia_hasta">
                        </div>
                        <div class="colum2">
                            <label>Fotos del vehículo</label>
                            <small class="helper-text">Subi fotos claras del vehículo asegurado</small>
                            <input type="file" id="foto" accept="image/*" >
    
                            <label for="tipo_seguro">Tipo de Seguro </label>
                            <small class="helper-text">Seleccione el tipo de seguro que desea contratar</small>
                            <select id="tipo_seguro">
                                <option value="" disabled selected>Seleccione un tipo de plan</option>
                                <option value="basico">Básico</option>
                                <option value="intermedio">Intermedio</option>
                                <option value="premiun">Premium</option>
                            </select>
    
                            <label for="premio_total">Premio Total en pesos </label>
                            <small class="helper-text">Ingrese el premio total del seguro en pesos, sin puntos ni espacios</small>
                            <input type="number" id="premio_total">
    
                            <label for="suma_asegurada">Suma Asegurada en pesos </label>
                            <small class="helper-text">Ingrese la suma asegurada en pesos, sin puntos ni espacios</small>
                            <input type="number" id="suma_asegurada">
    
                            <label for="uso_vehiculo">Uso del Vehículo </label>
                            <small class="helper-text">Seleccione el uso principal del vehículo</small>
                            <select id="uso_vehiculo">
                                <option value="" disabled selected>Seleccione un tipo de uso</option>
                                <option value="particular">Particular</option>
                                <option value="profesional">Profesional</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <button id="guardarCambios" class="activo configBotones">
                <span class="material-symbols-outlined botones">check_small</span>Guardar
            </button>
            <button class="activo cancelar configBotones" onclick="cancelarCambios()">
                <span class="material-symbols-outlined botones">close</span>Cancelar
            </button>
        </div>
        </div>
    </div>

   <!-- JS -->
    <script src="/public/js/panel.js"></script>
    <script src="/public/js/cargar_usuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

</body>
</html>