<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/form.css" type="text/css">
    <title>Formulario de contacto</title>
</head>
<body>
    <h2>Formulario de contacto</h2>

    <form action="/guardar-datos" method="post">
        <label for="nombre">Nombre/s:</label>
        <small class="form-text">Ingresa todos tus nombres, incluyendo el segundo si tenés.</small>
        <input type="text" id="nombre" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <small class="form-text">Ingresa todos tus appelidos, incluyendo el segundo si tenés.</small>
        <input type="text" id="apellido" name="apellido" required>

        <label for="dni">DNI:</label>
        <small class="form-text">Ingresa tu número de DNI sin puntos ni espacios.</small>
        <input type="text" id="dni" name="dni" required>

        <label for="fecha_nac">Fecha de Nacimiento:</label>
        <small class="form-text">Selecciona tu fecha de nacimiento usando el calendario.</small>
        <input type="date" id="fecha_nac" name="fecha_nac" required>

        <label for="ciudad_natal">Ciudad de nacimiento:</label>
        <small class="form-text">Ingresa el nombre de la ciudad donde naciste.</small>
        <input type="text" id="ciudad_natal" name="ciudad_natal" required>

        <label for="ciudad_prox">Ciudad de residencia:</label>
        <small class="form-text">Ingresa la ciudad en la que resides actualmente o la más cercana..</small>
        <input type="text" id="ciudad_prox" name="ciudad_prox" list="ciudades_alcanzadas" required>

        <!-- Desp. anotar sólo el ámbito de la ONG y válidar para que no se anoten de otro lugar -->
        <datalist id="ciudades_alcanzadas">
            <option value="Chivilcoy">
            <option value="Mercedes">
            <option value="Luján">
        </datalist>

        <label for="num_causa">Número de causa:</label>
        <small class="form-text">Ingresa el número de causa tal como aparece en los documentos.</small>
        <input type="text" id="num_causa" name="num_causa" required>

        <label for="abogado">Nombre del abogado:</label>
        <small class="form-text">Ingresa el nombre completo de tu abogado.</small>
        <input type="text" id="abogado" name="abogado" required>

        <label for="juzgado">Juzgado:</label>
        <small class="form-text">Especifica el nombre del juzgado relacionado con la causa.</small>
        <input type="text" id="juzgado" name="juzgado" required>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>