<!-- pág. principal -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Compañia de Seguros ...">

    <link rel="icon" type="image/jpg" href="/public/img/logo.ico"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <!-- CSS de la librería Swiper (carrusel) -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fuente del body -->
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-rounded/css/uicons-thin-rounded.css'>

    <title>Prisma Seguros</title>
</head>
<body>
    <header>
        <!-- Logo ------------------------------------- -->
        <div class="logo">
            <a href="/">
                <img src="/public/img/logo_grande_transparente.png" alt="logo">
            </a>
        </div>

        <!-- HOLA -->

        <!-- Menú hamburguesa ------------------------- -->
        <div class="icono-menu" id="icono-menu">
            <i class="fi fi-rr-menu-burger"></i>
        </div> 

        <nav class="menu" id="menu">
            <ul>
                <li><a href="/solicitante_form" class="importante">COTIZACIÓN ONLINE</a></li>
                <li><a href="#titulo-2">Coberturas</a></li>
                <li><a href="#titulo-3">Nosotros</a></li>
                <li><a href="#titulo-4">Contactos</a></li>
                <li class="inicio"><a href="/login" class="inicio">Iniciar sesión</a></li>
            </ul>
        </nav>
        
        <!-- # dimensiones movile -->
        <!-- # max: 400 x 800 -->
    </header>

    <!-- Contenedor formulario ------------------------ -->
    <div class="form">
        <div class="form-titulo">
            <h2>¿Necesitas un seguro para tu vehículo?</h2>
        </div>
        <div class="form-boton-cotizar">
            <a href="/solicitante_form">COTIZAR</a>
        </div>
    </div>

    <!-- Contenedor carrusel con Swiper --------------- -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/public/img/promo.png" alt="Promoción"></div>
          <div class="swiper-slide"><img src="/public/img/promo2.png" alt="Promoción"></div>
        </div>
        <!-- Paginación -->
        <div class="swiper-pagination"></div>
        <!-- Navigación -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>      

    <!-- Contenedor coberturas ------------------------ -->
    <div class="coberturas">
        <div class="cobertura-titulo">
            <h2>¡Elegí tu seguro con Prisma!</h2>
        </div>
        <div class="tipo">
            <a href="/solicitante_form">
                <i class="fi fi-tr-moped"></i>
                <h3>Moto</h3>
            </a>
        </div>
        <div class="tipo">
            <a href="/solicitante_form">
                <i class="fi fi-tr-car-alt"></i>
                <h3>Auto</h3>
            </a>
        </div>
        <!-- <div class="tipo">
            <a href="/solicitante_form">
                <i class="fi fi-tr-biking"></i>
                <h3>Bicicleta</h3>
            </a>
        </div> -->
    </div>

    <footer>
        <!-- <div class="preguntas">
            <h4>Preguntas frecuentes</h4>
            <ul>
                <li>¿Qué tipos de seguros ofrecen?</li>
                <li>¿Cómo puedo obtener una cotización para un seguro?</li>
                <li>¿Qué hacer si necesito asistencia en carretera o en emergencias?</li>
                <li>¿Cómo puedo contactar al servicio al cliente?</li>
                <li>¿Dónde se encuentran las oficinas de la aseguradora?</li>
            </ul>
        </div> -->

        <div class="contactos">
            <h4>¡Seguinos!</h4>
            <i class="fi fi-brands-instagram"></i>
            <i class="fi fi-brands-whatsapp"></i>
            <i class="fi fi-brands-facebook"></i>
        </div>
    </footer>
    
    <!-- JS de la libreria Swiper (carrusel) -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/public/js/scripts.js" type="text/javascript"></script>
</body>
</html>