<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Prisma Seguros</title>

    <!-- FAVICON  -->
    <link rel="icon" href="/public/img/logo.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel_estilos_grales.css">
    <link rel="stylesheet" href="/public/css/panel_estilo_elementos.css">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="icon" href="/public/img/logo.ico">
</head>
<body>
    <header>
        <button class="menu configBotones"><span class="material-symbols-outlined headIcon">menu</span></button>
        <button class="usuario configBotones"><span class="material-symbols-outlined headIcon">account_circle</span>Tú</button>
        
        <div class="menu-hamburguesa">
            <a href="/panel" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">Home</span>Inicio</a>
            <a href="/vistaClientes" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">format_list_bulleted</span>Clientes</a>
            <a href="/solicitudes" data-content="Solicitudes" class="configBotones"><span class="material-symbols-outlined botones">visibility</span>Solicitudes</a>
            <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">upgrade</span>Cargar cliente</a>
            <a href="/crear_usuario" data-content="addUsuario" id="cargar-usuario" class="configBotones"><span class="material-symbols-outlined botones">add</span>Crear usuario</a>
            <a href="/coberturas" data-content="addCobertura" id="cargar-coberturas" class="configBotones"><span class="material-symbols-outlined botones">open_run</span>Coberturas</a>
        </div>
        
        <div class="menu-usuario">
            <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar sesión</a>
        </div>
    </header>

    <div class="contenedor-datos">
        <h3>Acceso directo</h3>
        <div class="tarjetas-container">
            <div class="tarjeta">
                <a href="/panel" data-content="Clientes" class="link-general">
                    <span class="material-symbols-outlined icono-general">home</span>Inicio
                </a>
            </div>
            <div class="tarjeta">
                <a href="/vistaClientes" data-content="Clientes" class="link-general">
                    <span class="material-symbols-outlined icono-general">format_list_bulleted</span>Clientes
                </a>
            </div>
            <div class="tarjeta">
                <a href="/solicitudes" data-content="Solicitudes" class="link-general">
                    <span class="material-symbols-outlined icono-general">visibility</span>Solicitudes
                </a>
            </div>
            <div class="tarjeta">
                <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="link-general">
                    <span class="material-symbols-outlined icono-general">upgrade</span>Cargar cliente
                </a>
            </div>
            <div class="tarjeta">
                <a href="/crear_usuario" data-content="addUsuario" id="cargar-usuario" class="link-general">
                    <span class="material-symbols-outlined icono-general">add</span>Crear usuario
                </a>
            </div>
            <div class="tarjeta">
                <a href="/coberturas" data-content="addCobertura" id="cargar-coberturas" class="link-general">
                    <span class="material-symbols-outlined icono-general">open_run</span>Coberturas
                </a>
            </div>
        </div>
        <!-- VER SI LO DEJO O LO SACO: ANITAA -->
        <!-- <div class="buscador-inicio">
            <input type="text" placeholder="Buscar cliente..." class="buscador-inicio-input">
            <button class="activo">Buscar</button>
        </div> -->
    </div>      

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
    <script src="/public/js/solicitudes.js"></script>
</body>
</html>