<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/panel.css">
    <title>Inicio Prisma Seguros</title>
    <link rel="icon" href="/public/img/logo.ico">
</head>
<body>
    <header>
        <button class="menu">☰ Menu</button>
        <div class="logo">
            <img src="">
        <button class="usuario">Usuario</button>
        
        <div class="menu-hamburguesa">
            <a href="#" data-content="contenido1">Lista</a>
            <a href="#" data-content="contenido2">Facturas</a>
            <a href="#" data-content="contenido3">Polizas</a>
            <a href="#" data-content="contenido4">Clientes</a>
        </div>

        <div class="menu-usuario">
            <a href="#">Permisos</a>
            <a href="#">Editar</a>
            <a href="#">Cerrar sesion</a>
        </div>
    </header>

     <!-- Contenedor para los filtros -->
     <div class="filtros">
        <div class="ordenar-menu">
            <button class="ordenar">Ordenar por:</button>
            <div class="ordenar-menu-oculto">
                <a href="#" data-sort="nombre">Nombre</a>
                <a href="#" data-sort="fecha">Fecha</a>
            </div>
        </div>
        <div class="filtrar-menu">
            <button class="filtrar">Filtrar:</button>
            <div class="filtrar-menu-oculto">
                <a href="#" data-filter="auto">Auto</a>
                <a href="#" data-filter="moto">Moto</a>
                <!-- <a href="#" data-filter="bicicleta">Bicicleta</a> -->
            </div>
        </div>
    </div>

    
    <div class="contenedor-datos">
        

    </div>

    <script src="/public/js/panel.js"></script>

</body>
</html> 