<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/panel.css">
    <title>Inicio</title>
    <link rel="icon" href="">
</head>
<body>

    <header>
        <button class="menu">☰ Menu</button>
        <button class="usuario">Usuario</button>
    </header>

    <div class="menu-hamburguesa">
        <a href="#" data-content="contenido1">Link 1</a>
        <a href="#" data-content="contenido2">Link 2</a>
        <a href="#" data-content="contenido3">Link 3</a>
    </div>

    <div class="menu-usuario">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>

    
    <div class="contenedor-datos">
        <!-- contenido -->
    </div>

    <script src="/public/js/panel.css"></script>

</body>
</html>
