<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel.css">
    <link rel="stylesheet" href="/public/css/perfil_usuario.css">

    <title>Inicio Prisma Seguros</title>
    <link rel="icon" href="/public/img/logo.ico">
</head>
<body>
    <header>
        <button class="menu">☰ Menu</button>
        <div class="logo">
            <img src="/public/img/logo.png" alt="Logo">
        </div>
        <div class="buscador">
            <input type="text" placeholder="Buscar asegurado...">
            <!-- por qué no carga?? ANITA -->
            <div class="icono-busc">
                <i class="fi fi-rc-search"></i>
            </div>
        </div>
        <button class="usuario">Usuario</button>
        
        <div class="menu-hamburguesa">
            <a href="#" data-content="Clientes">Clientes</a>
            <a href="#" data-content="Solicitudes">Solicitudes</a>
            <a href="#" data-content="addCliente">Cargar Cliente</a>
        </div>

        <div class="menu-usuario">
            <a href="#" id="cerrar-sesion">Cerrar sesión</a>
        </div>
    </header>

    
    <div class="contenedor-datos">
     <!-- Contenedor para los filtros -->
     <div class="filtros">
        <div class="ordenar-menu">
            <button class="ordenar">Ordenar por:</button>
            <div class="ordenar-menu-oculto">
                <a href="#" data-sort="nombre">Nombre</a>
                <a href="#" data-sort="fecha">Fecha</a>
            </div>
        </div>
        <div class="filtrar-menu">
            <button class="filtrar">Filtrar:</button>
            <div class="filtrar-menu-oculto">
                <a href="#" data-filter="auto">Auto</a>
                <a href="#" data-filter="moto">Moto</a>
                <a href="#" data-filter="bicicleta">Bicicleta</a>
            </div>
        </div>
        <!-- Enlace para cargar nuevo cliente -->
        <a href="#" data-content="addCliente" id="cargar-cliente">Cargar Cliente</a>
    </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Vehiculos</th>
                    <th>Email</th>
                    <th>Celular</th>
                </tr>
            </thead>
        </table>

    </div>

    <script src="/public/js/panel.js"></script>

</body>
</html> 