<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Asegurado</title>
    <link rel="icon" href="/public/img/logo.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel.css">
    <link rel="stylesheet" href="/public/css/perfil_usuario.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fuente del body -->
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-chubby/css/uicons-regular-chubby.css'>
</head>
<body>
    <header>
        <button class="menu">☰ Menu</button>
        <div class="logo">
            <img src="/public/img/logo.png" alt="Logo">
        </div>
        <div class="buscador">
            <input type="text" placeholder="Buscar asegurado...">
            <!-- por qué no carga?? ANITA -->
            <div class="icono-busc">
                <i class="fi fi-rc-search"></i>
            </div>
        </div>
        <button class="usuario">Usuario</button>
        
        <div class="menu-hamburguesa">
            <a href="#" data-content="contenido1">Lista</a>
            <a href="#" data-content="contenido2">Facturas</a>
            <a href="#" data-content="contenido3">Polizas</a>
            <a href="#" data-content="contenido4">Clientes</a>
        </div>

        <div class="menu-usuario">
            <a href="#">Permisos</a>
            <a href="#">Editar</a>
            <a href="#">Cerrar sesión</a>
        </div>
    </header>

    <div class="perfil">

        <!-- sección de información personal ---------------------------------- -->
        <div class="info-personal">
            <!-- NO CARGA EL ICONO REVISAR -->
            <h2><i class="fi fi-sc-user"></i>Información Personal de </h2>
            <div class="info-grid">
                <!-- primer colum -->
                <div class="colum1">
                    <label for="nombre">Nombre </label><input type="text" id="nombre" placeholder="Anita">
                    <label for="apellido">Apellido </label><input type="text" id="apellido" placeholder="Luz">
                    <label for="email">Email </label><input type="email" id="email" placeholder="anita@gmail.com">
                    <label for="celular">Celular </label><input type="text" id="celular" placeholder="2346303040"> 
                </div>
                
                <!-- segunda colum -->
                 <div class="colum2">
                    <label for="direccion">Dirección </label><input type="text" id="direccion" placeholder="Av. Calixto Calderon 424">
                    <label for="ciudad">Ciudad </label><input type="text" id="ciudad" placeholder="Chivilcoy">
                    <label for="provincia">Provincia </label><input type="text" id="provincia" placeholder="Buenos Aires">
                 </div>
            </div>
        </div>

        <!-- sección de vehículos asegurados ---------------------------------- -->
        <div class="vehiculos-asegurados">
            <h2>Vehículos Asegurados</h2>

            <!-- ejemplo de un vehículo -->
            <div class="vehiculo">
                <div class="info-grid">
                    <div class="colum1">
                        <label for="tipo-vehiculo">Tipo de Vehículo </label>
                        <select id="tipo-vehiculo">
                            <option value="auto">Auto</option>
                            <option value="moto">Moto</option>
                        </select>
                        <label for="patente">Patente </label>
                        <input type="text" id="patente" placeholder="123AAA">
                        <label for="anio-vehiculo">Año </label>
                        <input type="number" id="anio-vehiculo" placeholder="2024">
                        <label for="vigencia-desde">Vigencia Desde </label>
                        <input type="date" id="vigencia-desde">
                        <label for="vigencia-hasta">Vigencia Hasta </label>
                        <input type="date" id="vigencia-hasta">
                    </div>

                    <div class="colum2">
                        <label>Fotos </label>
                        <button onclick="verFotos('vehiculo1')" class="ver-fotos">Ver fotos</button>
                        <label for="tipo-seguro">Tipo de Seguro </label>
                        <select id="tipo-seguro">
                            <option value="basico">Básico</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="premiun">Premiun</option>
                        </select>
                        <label for="premio-total">Premio Total (en pesos) </label>
                        <input type="number" id="premio-total" placeholder="$10.000,00">
                        <label for="suma-asegurada">Suma Asegurada </label>
                        <input type="number" id="suma-asegurada" placeholder="$1.000.000.00">
                        <label for="uso-vehiculo">Uso del Vehículo </label>
                        <select id="uso-vehiculo">
                            <option value="particular">Particular</option>
                            <option value="profesional">Profesional</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <!-- botón de editar perfil y guardar cambios -->
         <!-- FIJARSE PQ NO SE GUARDAN LOS ICONOS -->
        <button class="activo" onclick="emitirPoliza()">Emitir póliza</button>
        <button class="activo" onclick="editarPerfil()" >Editar perfil</button>
        <button class="guardar" onclick="guardarCambios()">Guardar</button>
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>

</body>
</html>