<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Asegurado</title>
    <link rel="icon" href="/public/img/logo.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel.css">
    <link rel="stylesheet" href="/public/css/perfil_usuario.css">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <button class="menu configBotones"><span class="material-symbols-outlined headIcon">menu</span></button>
        <button class="usuario configBotones"><span class="material-symbols-outlined headIcon">account_circle</span>Tú</button>
        
        <div class="menu-hamburguesa">
            <a href="#" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">format_list_bulleted</span>Clientes</a>
            <a href="#" data-content="Solicitudes" class="configBotones"><span class="material-symbols-outlined botones">visibility</span>Solicitudes</a>
            <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">upgrade</span>Cargar cliente</a>
            <a href="#" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">add</span>Crear usuario</a>
            <a href="#" data-content="addCobertura" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">open_run</span>Coberturas</a>
        </div>
        
        <div class="menu-usuario">
            <a href="#" id="cerrar-sesion">Cerrar sesión</a>
        </div>
    </header>

    <div class="perfil">
        <div class="info-personal">
            <h2>Información Personal de </h2>
            <div class="info-grid">
                <div class="colum1">
                    <label for="nombre">Nombre </label><input type="text" id="nombre" placeholder="Anita" disabled>
                    <label for="apellido">Apellido </label><input type="text" id="apellido" placeholder="Luz" disabled>
                    <label for="dni">DNI </label><input type="number" id="dni" placeholder="12345678" disabled>
                    <label for="email">Email </label><input type="email" id="email" placeholder="anita@gmail.com" disabled>
                </div>
                <div class="colum2">
                    <label for="direccion">Dirección </label><input type="text" id="direccion" placeholder="Av. Calixto Calderon 424" disabled>
                    <label for="celular">Celular </label><input type="text" id="celular" placeholder="2346303040" disabled> 
                    <label for="ciudad">Ciudad </label><input type="text" id="ciudad" placeholder="Chivilcoy" disabled>
                    <label for="provincia">Provincia </label><input type="text" id="provincia" placeholder="Buenos Aires" disabled>
                 </div>
            </div>
        </div>

        <div class="vehiculos-asegurados">
            <h2>Vehículos Asegurados</h2>
            <div class="vehiculo">
                <div class="info-grid">
                    <div class="colum1">
                        <label for="tipo-vehiculo">Tipo de Vehículo </label>
                        <select id="tipo-vehiculo" disabled>
                            <option value="" disabled selected>Selecciona un tipo de vehículo</option>
                            <option value="auto">Auto</option>
                            <option value="moto">Moto</option>
                        </select>
                        <label for="patente">Patente </label>
                        <input type="text" id="patente" placeholder="123AAA" disabled>
                        <label for="anio-vehiculo">Año </label>
                        <input type="number" id="anio-vehiculo" placeholder="2024" disabled>
                        <label for="vigencia-desde">Vigencia Desde </label>
                        <input type="date" id="vigencia-desde" disabled>
                        <label for="vigencia-hasta">Vigencia Hasta </label>
                        <input type="date" id="vigencia-hasta" disabled>
                    </div>

                    <div class="colum2">
                        <label>Fotos </label>
                        <button onclick="verFotos('vehiculo1')" class="ver-fotos configBotones"><span class="material-symbols-outlined botones">visibility</span>Ver</button>
                        <label for="tipo-seguro">Tipo de Seguro </label>
                        <select id="tipo-seguro" disabled>
                            <option value="" disabled selected>Selecciona un plan</option>
                            <option value="basico">Básico</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="premiun">Premiun</option>
                        </select>
                        <label for="premio-total">Premio Total (en pesos) </label>
                        <input type="number" id="premio-total" placeholder="$10.000,00" disabled>
                        <label for="suma-asegurada">Suma Asegurada </label>
                        <input type="number" id="suma-asegurada" placeholder="$1.000.000.00" disabled>
                        <label for="uso-vehiculo">Uso del Vehículo </label>
                        <select id="uso-vehiculo" disabled>
                            <option value="" disabled selected>Selecciona un tipo de uso</option>
                            <option value="particular">Particular</option>
                            <option value="profesional">Profesional</option>
                        </select>
                    </div>
                </div>
            </div>
            <button class="eliminar-vehiculo configBotones oculto"><span class="material-symbols-outlined botones">delete</span>Eliminar</button>
        </div>

        <!-- activos -->
        <button id="emitir-poliza" class="activo configBotones" onclick="window.location.href='/poliza'"><span class="material-symbols-outlined botones">download_for_offline</span>Emitir póliza</button>
        <button id="editar-perfil" class="activo configBotones" onclick="editarPerfil()"><span class="material-symbols-outlined botones">edit</span>Editar perfil</button>
        
        <!-- ocultos -->
        <button id="agregar-vehiculo" class="oculto configBotones" onclick="agregarVehiculo()"><span class="material-symbols-outlined botones">add_circle</span>Agregar vehículo</button>
        <button id="guardar" class="oculto configBotones" onclick="guardarCambios()"><span class="material-symbols-outlined botones">check</span>Guardar</button>
        <button id="cancelar" class="oculto configBotones peligro" onclick="cancelarEdicion()"><span class="material-symbols-outlined botones">close</span>Cancelar</button>
        <button id="eliminar-cliente" class="oculto configBotones peligro"><span class="material-symbols-outlined botones">delete</span>Eliminar Cliente</button>
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
</body>
</html>
