<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario | Vehículos Asegurados</title>
    <link rel="stylesheet" href="/public/css/usuario.css">
    <link rel="icon" type="image/jpg" href="/public/img/design3.png"/>

    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header-img">
            <img src="../../public/img/logo_grande_transparente.png">
        </div>
        <div class="icon-menu">
            <i id="icono-barras" class="fa fa-bars" aria-hidden="true"></i>
            <i id="icono-x" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/usuario" id="datos-pers">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/usuario/datos-personales" id="datos-pers">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <span>Datos Personales</span>
                    </a>
                </li>
                <li>
                    <a href="/usuario/vehiculos-asegurados" id="vehiculos-aseg">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span>Vehículos Asegurados</span>
                    </a>
                </li>
                <li>
                    <a href="/usuario/denunciar-siniestro" id="denunciar-sini">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <span>Denunciar Siniestro</span>
                    </a>
                </li>
                <li>
                    <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="fondo">
        <div class="contenedor">
            <div class="saludo-usuario">
                <p>¡Hola, <b id="nombre">Usuario</b>!</p>
            </div>
            <section class="vehiculos-asegurados">
                <h3 id="titulo-vehiculos-asegurados">Vehículos Asegurados</h3>
                    <article class="vehiculo">
                        <div class="datos-cuerpo">
                            <div class="datos1">
                                <label for="tipo_vehiculo">Tipo de Vehículo</label>
                                <input type="text" class="dato1" id="tipo_vehiculo" disabled>
                                <label for="patente">Patente</label>
                                <input type="text" class="dato1" id="patente" disabled>
                                <label for="anio">Año</label>
                                <input type="number" class="dato1" id="anio" disabled>
                                <label for="vigencia_desde">Vigencia Desde</label>
                                <input type="date" class="dato1" id="vigencia_desde" disabled>
                                <label for="vigencia_hasta">Vigencia Hasta</label>
                                <input type="date" class="dato1" id="vigencia_hasta" disabled>
                            </div>
                            <div class="datos2">
                                <label for="tipo_seguro">Tipo de Seguro</label>
                                <input type="text" class="dato1" id="tipo_seguro" disabled>
                                <label for="premio_total">Premio Total</label>
                                <input type="number" class="dato1" id="premio_total" disabled>
                                <label for="suma_asegurada">Suma Asegurada</label>
                                <input type="number" class="dato1" id="suma_asegurada" disabled>
                                <label for="uso_vehiculo">Uso del Vehículo</label>
                                <input type="text" class="dato1" id="uso_vehiculo" disabled>
                            </div>
                        </div>
                        <div class="vehiculo-limite">
                            <hr class="limite">
                        </div>
                    </article>
            </section>
        </div>
    </div>
    <script src="/public/js/usuario.js" type="text/javascript"></script>
</body>
</html>