<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma Seguros | Usuario</title>
    <link rel="stylesheet" href="/public/css/usuario.css">
    <link rel="icon" type="image/jpg" href="/public/img/design3.png"/>

    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header-img">
            <img src="../../public/img/logo_grande_transparente.png">
        </div>
        <div class="icon-menu">
            <i id="icono-barras" class="fa fa-bars" aria-hidden="true"></i>
            <i id="icono-x" class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a id="vehiculos-aseg">Vehículos Asegurados</a>
                </li>
                <li>
                    <a id="datos-pers">Datos Personales</a>
                </li>
                <li>
                    <a id="denunciar-sini">Denunciar Siniestro</a>
                </li>
                <li>
                    <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="fondo">
        <div class="contenedor">
            <div class="saludo-usuario">
                <p>¡Hola, <b id="nombre">Usuario</b>!</p>
            </div>
            <section class="datos-personales">
                <h3 id="titulo-datos-personales">Datos Personales</h3>
                <div class="datos-cuerpo">
                    <div class="datos1">
                        <label for="nombre">Nombre</label><input type="text" class="dato1" id="nombre" placeholder="Pedro" disabled>
                        <label for="apellido">Apellido</label><input type="text" class="dato1" id="apellido" placeholder="Sánchez" disabled>
                        <label for="dni">DNI</label><input type="number" class="dato1" id="dni" placeholder="30567893" disabled>
                        <label for="email">Email</label><input type="email" class="dato" id="email" placeholder="pedrosanchez@gmail.com" disabled>
                        <label for="clave">Contraseña</label><input type="password" class="dato" id="clave" placeholder="•••••••••••••" disabled>
                    </div>
                    <div class="datos2">
                        <label for="celular">Celular</label><input type="tel" class="dato" id="celular" placeholder="1234567890" disabled>
                        <label for="direccion">Dirección</label><input type="text" class="dato" id="direccion" placeholder="Mandraque 1234" disabled>
                        <label for="ciudad">Ciudad</label><input type="text" class="dato" id="ciudad" placeholder="Chivilcoy" disabled>
                        <label for="provincia">Provincia</label><input type="text" class="dato" id="provincia" placeholder="Buenos Aires" disabled>
                    </div>
                </div>
                <div class="input-editar">
                    <input class="editar" value="Editar" type="submit">
                    <input class="guardar" value="Guardar" type="submit">
                    <input class="cancelar" value="Cancelar" type="submit">
                </div>
            </section>
            <section class="vehiculos-asegurados">
                <h3 id="titulo-vehiculos-asegurados">Vehículos Asegurados</h3>
                <article class="vehiculo">
                    <div class="datos-cuerpo">
                        <div class="datos1">
                            <label for="tipo_vehiculo">Tipo de Vehículo</label><input type="text" class="dato1" id="tipo_vehiculo" placeholder="Auto" disabled>
                        <!-- <select id="tipo_vehiculo" class="dato" disabled>
                            <option value="auto">Auto</option>
                            <option value="moto">Moto</option>
                        </select> -->
                            <label for="patente">Patente</label><input type="text" class="dato1" id="patente" placeholder="AB 545 JK" disabled>
                            <label for="anio">Año</label><input type="number" class="dato1" id="anio" placeholder="2017" disabled>
                            <label for="vigencia_desde">Vigencia Desde</label><input type="date" class="dato1" id="vigencia_desde" disabled>
                            <label for="vigencia_hasta">Vigencia Hasta</label><input type="date" class="dato1" id="vigencia_hasta" disabled>
                            </div>
                            <div class="datos2">
                            <label for="tipo_seguro">Tipo de Seguro</label><input type="text" class="dato1" id="tipo_seguro" placeholder="Intermedio" disabled>
                        <!-- <select id="tipo_seguro" class="dato1" >
                            <option value="basico">Básico</option>
                            <option value="intermedio">Intermedio</option>
                            <option value="premium">Premium</option>
                        </select> -->
                            <label for="premio_total">Premio Total</label><input type="number" class="dato1" id="premio_total" placeholder="$10.000,00" disabled>
                            <label for="suma_asegurada">Suma Asegurada</label><input type="number" class="dato1" id="suma_asegurada" placeholder="$10.000,00" disabled>
                            <label for="uso_vehiculo">Uso del Vehículo</label><input type="text" class="dato1" id="uso_vehiculo" placeholder="Particular" disabled>
                        <!-- <select id="uso_vehiculo" class="dato1" >
                            <option value="particular">Particular</option>
                            <option value="profesional">Profesional</option>
                        </select> -->
                        </div>
                    </div>
                    <div class="vehiculo-limite">
                        <hr class="limite">
                    </div>
                <article>
            </section>
        </div>
    </div>
    <script src="/public/js/usuario.js" type="text/javascript"></script>
</body>
</html>