<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perfil Asegurado | Prisma Seguros</title>

<!-- FAVICON -->
<link rel="icon" href="/public/img/logo.ico">

<!-- CSS -->
<link rel="stylesheet" href="/public/css/panel_estilos_grales.css">
<link rel="stylesheet" href="/public/css/panel_estilo_elementos.css">

<!-- FUENTES -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- ICONOS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />