<header>
    <!-- botones del header -->
    <button class="menu configBotones"><span class="material-symbols-outlined headIcon">menu</span></button>
    <button class="usuario configBotones"><span class="material-symbols-outlined headIcon">account_circle</span>Tú</button>
    
    <!-- secciones del menu hamburguesa -->
    <div class="menu-hamburguesa">
        <a href="/panel" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">Home</span>Inicio</a>
        <a href="/vistaClientes" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">format_list_bulleted</span>Clientes</a>
        <a href="/solicitudes" data-content="Solicitudes" class="configBotones"><span class="material-symbols-outlined botones">visibility</span>Solicitudes</a>
        <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">upgrade</span>Cargar cliente</a>
        <a href="/crear_usuario" data-content="addUsuario" id="cargar-usuario" class="configBotones"><span class="material-symbols-outlined botones">add</span>Crear usuario</a>
        <a href="/coberturas" data-content="addCobertura" id="cargar-coberturas" class="configBotones"><span class="material-symbols-outlined botones">open_run</span>Coberturas</a>
    </div>
    
    <!-- secciones del menu de usuario -->
    <div class="menu-usuario">
        <a href="/cerrar-sesion" id="cerrar-sesion">Cerrar sesión</a>
    </div>
</header>